<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Stylists & Clients Control Panel</title>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>

  <body>
    <div class="container">
      @RenderBody()
      <p><a href='/'>Home Portal</a></p>
      <p><a href='/clients'>Client Portal</a></p>
      <p><a href='/stylists'>Stylist Portal</a></p>
    </div>
  </body>
</html>